<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Daily Newspaper</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="{% static 'daily/offcanvas.css' %}" rel="stylesheet">
    <link href="{% static 'daily/style.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <img id="logo" src="/media/articles/logo.png">
        <a href="/daily/" class="list-group-item active"><img src="/media/articles/home.png" alt="home">Homepage</a>
        <a href="#" class="list-group-item"><img src="/media/articles/toronto.png" alt="toronto">Your Toronto</a>
        <a href="#" class="list-group-item"><img src="/media/articles/opinion.png" alt="opinion">Opinion</a>
        <a href="#" class="list-group-item"><img src="/media/articles/sections.png" alt="sections">Sections</a>
        <a href="#" class="list-group-item"><img src="/media/articles/weather.png" alt="weather">Weather</a>
      </div>
    </div><!--/.sidebar-offcanvas-->
    <div class="container">
    <h1>Daily: Top 10 List</h1>
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs"></p>
          <div class="jumbotron">
            {% for article in preview_article %}
              <h1><a href="{% url 'detail' article_id=article.pk %}">{{ article.title }}</a></h1>
              <p class="article_info">{{ article.author }} - {{ article.publ_date }}, {{ article.category }}</p>
              <img src="{{ article.image.url }}" alt="{{ article.title }}">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem quam, sagittis pulvinar facilisis vel, suscipit in erat. Nulla tellus nisl, faucibus eget dignissim sit amet, tempus nec augue. Nulla venenatis, purus dapibus egestas ullamcorper, odio ante commodo ex, et finibus arcu purus a ante.</p>
            {% endfor %}
          </div>
          <ol class="hp-articles">
            {% for my_article in my_article_list %}
              <h2>{{ my_article.title }}</h2>
              <li><img class="hp-images" src="{{ my_article.image.url }}" alt="list pictures"><p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem quam, sagittis pulvinar facilisis vel, suscipit in erat. Nulla tellus nisl, faucibus eget dignissim sit amet, tempus nec augue. Nulla venenatis, purus dapibus egestas ullamcorper, odio ante commodo ex, et finibus arcu purus a ante.</p>&mdash; <p class="article_info"> {{ my_article.publ_date }}, {{ my_article.author }}, {{ my_article.category }}</p>
              <p><a class="btn btn-default" href="{% url 'detail' article_id=my_article.pk %}" role="button">View Article &raquo;</a></p></li>
            {% endfor %}  
          </ol>
          <hr>
          <h3  id="rd-nxt">What to Read Next</h3>
          <img id="right" class="arrows" src="/media/articles/right.png" alt="right">
          <img id="left" class="arrows" src="/media/articles/left.png" alt="left">
          <hr>
          <ul class="read-next">
          {% for article in read_next_articles %}
            <li class="read-next-block"><a href="{% url 'detail' article_id=article.pk %}"> 
              <img class="read-next-img" src="{{ article.image.url }}" alt="{{ article.title }}">
              <p>{{ article.title }}</p></a>
            </li>
          {% endfor %}
          </ul>
          
          <footer>
            <p>&copy; Daily Newspaper - By Azmat</p>
          </footer>
        </div>
      </div>
    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="offcanvas.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
